.wrapper {
  position: relative;
  width: 100%;
}

.text {
  position: absolute;
  top: 50%;
  margin-left: 17px;
  opacity: 1;
  transform: translateY(-50%);
  transition: 0.25s ease;
  cursor: pointer;
}
.editing .text {
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
}

.inputBox {
  inset: 0;
  opacity: 0;
  transform: translateY(6px);
  pointer-events: none;
  transition: 0.25s ease;
}

.editing .inputBox {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.disabled .text {
  cursor: default;
  opacity: 0.6;
}
