.inputField{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.errorMessage{
    color: var(--error-color);
    width: 100%;
}
.inputWrapper{
    border:1px solid #D9D9D9;
    border-radius: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: text;
}
.input{
    display: flex;
    width: 100%;
    padding: 14px 17px;
    padding-inline:none;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}
.label{
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
}
.input::placeholder{
    opacity: 0.4;
}
.icon{
    margin-right: 17px;
}