.avatarWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 26px;
    background-color: #fafafa;
    margin-top: 16px;
    margin-right: 10px;
    position: relative;
}
.popup {
    position: absolute;
    right: calc(100% + 8px);
    padding: 8px;
    border-radius: 10px;
    background-color: #fafafa;
    
    opacity: 0;
    transform: translateX(10px);
}
.popup.open{
    animation: slideIn 0.3s forwards;
}
.popup.hide {
    animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(10px);
    }
}

.logoutButton{
    background-color: var(--red-color);
    border: none;
    border-radius: 6px;
}
.logoutButton p{
    color: white;
}