.button{
    width: 300px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    line-height: 150%;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background-color: #546FFF;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
.button:hover{
    opacity: 0.9;
}
.button:active{
    opacity: 0.8;
}