.container {
  position: relative;
  width: 324px;
  display: flex;
  flex-direction: column-reverse;
  gap: 24px;
}

.inputWrapper {
  text-align: center;
}
.inputWrapper::placeholder{
  font-size: 18px;
  font-weight: 600;
}

.calendar {
  background-color: white;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid #D9D9D9;
}
.dropdowns{
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.dropdown{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #F7F7FE;
  padding: 6px;
  gap: 42px;
  color: black;
  border: 1px solid rgba(0,0,0,0.05);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  border-radius: 8px;
  align-items: center;
  font-family: var(--body-font);
}
.dropdown span::first-letter {
  text-transform: uppercase;
}
.deleteButton{
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  opacity: 0.8;
}
.deleteButton:hover{
  opacity: 1;
}
.root{
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  max-width: 324px;
  gap: 8px;
  box-sizing: border-box;
}
.table{
  width: 100%;
  justify-items: center;
}
.weekDay{
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 500;
  color: rgba(0,0,0,0.5);
  line-height: 24px;
  text-transform: capitalize;
  max-width: fit-content;
}
.weeks{
  width: fit-content;
}

.day{
  font-family: var(--body-font);
  font-size: 18px;
  font-weight: 400;
  color: black;
  line-height: 24px;
  justify-content: center;
  width:100%;
  height: 100%;
  padding: 0;
  background-color: white;
  margin: 0;
  border: none;
  cursor: pointer;
}
.pastDay button{
  cursor: default;
  background-color: #D5D4DF;
  opacity: 0.6;
}
.pastDay .day:hover{
  background-color: #D5D4DF;
  cursor: default;
  color: black;
  opacity: 0.6;
}
.day:hover{
  color: white;
  box-shadow: none;
  background-color: #45539D;
  opacity: 0.7;
}
.daySize{
  width: 24px;
  height: 24px;
}


.outside button{
  color: rgba(0,0,0,0.5);
  opacity: 1;
}

.selected button {
  background-color: #45539D;
  color: white;
}
.captionWrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.options{
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: start;
  width: 100%;
  top:calc(100% + 9px);
  background-color: white;
  padding: 8px;
  box-shadow: var(--box-shadow-modal);
  border-radius: 8px;
  gap:4px;
  z-index: 2;
  font-size: 16px;
  left: 0;
}
.optionsInner{
  padding-right: 8px;
  overflow-y: auto;
  max-height: 264px;
}
.option{
  border-radius: 2px;
  padding: 1.5px 3px;
  width: 100%;
  cursor: pointer;
}
.option:hover{
  background-color: #F7F7FE;
}
.weeks{
  border-spacing:0;
  background-color: #D5D4DF;
}