@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root{
  --body-dark-color:#141522;
  --red-color:#FF0004;
  --error-color:#F30202;
  --body-middle-color:#54577A;
  --body-light-color:#8E92BC;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fafafa;
  margin: 0;
}
p,input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: var(--body-dark-color);
  margin: 0;
}
h1,h2{
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  color: var(--body-dark-color);
  margin: 0;
}