spring:
  application:
    name: task-manager
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  datasource:
    # url: ${SPRING_DATASOURCE_URL}
    # username: ${SPRING_DATASOURCE_USERNAME}
    # password: ${SPRING_DATASOURCE_PASSWORD}
    url: jdbc:postgresql://localhost:5432/task_manager
    username: postgres
    password: "0000"
    driver-class-name: org.postgresql.Driver  

server:
  port: 8080

app:
  jwt:
    secret: 6ca43319b703d89a70d4bfd50d34df818da7ffbe1068d1ff1b152dda0cc4ddba
    access-token-expiration: 900000 # 15 minutes
    refresh-token-expiration: 604800000 # 7 days

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.web.cors: DEBUG
    com.taskmanager: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"