name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: List files
        run: ls -la

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        run: |
          IMAGE_TAG=$(date +%s)
          docker compose -f ./docker-compose.yml pull
          docker compose -f ./docker-compose.yml build
          SERVICE_NAME=$(docker compose -f ./docker-compose.yml config --services | grep my-service)
          docker tag ${SERVICE_NAME}:latest ${{ secrets.DOCKER_HUB_USERNAME }}/my-image-name:$IMAGE_TAG
          docker push ${{ secrets.DOCKER_HUB_USERNAME }}/my-image-name:$IMAGE_TAG

